NODE_ENV=production
PORT=3000
NEXT_TELEMETRY_DISABLED=1

NEXT_PUBLIC_APP_URL=http://localhost:3100
NEXT_PUBLIC_API_URL=http://localhost:3101/api/v1
NEXT_PUBLIC_PORTAL_URL=http://localhost:3102
INTERNAL_API_URL=http://api:3001/api/v1
