NODE_ENV=production
PORT=3002
NEXT_TELEMETRY_DISABLED=1

NEXT_PUBLIC_APP_URL=http://localhost:3102
NEXT_PUBLIC_API_URL=http://localhost:3101/api/v1
NEXT_PUBLIC_WEB_URL=http://localhost:3100
INTERNAL_API_URL=http://api:3001/api/v1
