NODE_ENV=production
PORT=3000
NEXT_TELEMETRY_DISABLED=1

# Public URL (Browser-facing)
NEXT_PUBLIC_APP_URL=https://galihjp.com
NEXT_PUBLIC_API_URL=/api/v1
NEXT_PUBLIC_PORTAL_URL=https://portal.galihjp.com

# Internal Docker Network API URL (for Next.js server-side rewrites & SSR)
INTERNAL_API_URL=http://api:3001/api/v1
